<%- include('../partials/header.ejs') %>
<main>
<div class="content">
    <form method="POST" action="/items/<%= item.id %>?_method=PUT" enctype="multipart/form-data">
        <label for="image">Image</label>
        <input type="file" id="image" name="image" accept="image/png, image/jpeg">

        <label for="details">Details</label>
        <textarea rows="5" cols="50" id="details" name="details" value="<%= item.details %>">

        <label for="price">Price</label>
        <input type="number" id="price" name="price" value="<%= item.price %>">

        <input type="submit" value="Submit">
    </form>
</div>
</main>
<%- include('../partials/footer.ejs') %>