<%- include('../partials/header.ejs') %>
        <main>
            <div id="marketplaceHomeContainer">
                <% console.log(items) %>
                <% if(items.length) { %>
                    <% items.forEach(item=>{ %>
                        <a id="linkBtn" href="/items/<%-item.id%>">
                            <div class="container-sm" id="itemContainer">
                                <div class="container-sm" id="item">
                                    <img id="marketplaceImg" src="../images/<%-item.image%>" alt="marketImg">
                                </div>
                                <div id="itemDetails" class="container-sm">
                                    <div id="itemNameCond"><%-item.name%> [<%-item.condition%>]</div>
                                    <div id="itemCategory"><%-item.category%> | <%-item.subcategory%></div>
                                    <div id="itemPrice">$<%-item.price%>+</div>
                                </div>
                            </div>
                        </a>
                    <% }); %>
                <% } else { %>
                    <p>There are no items to display.</p>
                <% } %>
            </div>
        </main>
<%- include('../partials/footer.ejs') %>