<%- include('../partials/header.ejs') %>
        <main>
            <div class="container-sm" id="displayedItem">
                <div class="container-sm" id="itemBigImg">
                    <h2>PLACEHOLDER</h2>
                </div>
                <br>
                <div class="container-sm" id="itemInfoBtns">
                    <p><%= item.name %> - <%= item.condition %></p>
                    <p><%= item.category %> - <%= item.subcategory %></p>
                    <p><%= item.price %></p>
                </div>
                <div class="container-sm" id="itemEditDelete">
                    <div class="container-sm" id="editBtnContainer">
                        <button id="editBtn" type="submit" formmethod="GET" formaction="/items/<%= item.id %>/edit">Edit</button>
                    </div>
                    <div class="container-sm" id="deleteBtnContainer">
                        <button id="deleteBtn" type="submit" formmethod="POST" formaction="/items/<%= item.id %>?_method=DELETE">Delete</button>
                    </div>
                </div>
            </div>
        </main>
<%- include('../partials/footer.ejs') %>